header {
  background: #BBB;
}

.caixa {
  position: relative;
  width: 940px;
  margin: 0 auto;
}

nav {
  position: absolute;
  /*Vc conesegue posicionar onde vc quiser */
  top: 110px;
  right: 0;
}

nav li {
  display: inline;
  /*Deixa alinha na vertical os items do menu*/
  margin: 0 0 0 15px;
}

nav a {
  text-transform: uppercase;
  /*Transforma texto em UPPERCASE*/
  color: #000;
  font-weight: bold;
  font-size: 22px;
  text-decoration: none;
}

nav a:hover {
  color: #C78C19;
  text-decoration: underline;
}

main {
  width: 940px;
  margin: 0 auto;
}

form {
  margin: 40px;
}

form label,
form legend {
  display: block;
  /*Utilizamos display:block para que o elemento ocupe a linha toda e jogo o proxo para baixo dele*/
  font-size: 20px;
  margin: 0 0 10px;
}

.input-padrao {
  display: block;
  margin: 0 0 20px;
  padding: 10px 25px;
  width: 50%;
}

.checkbox {
  margin: 20px 0;
}

.enviar {
  width: 40%;
  padding: 15px 0;
  background: orange;
  color: white;
  font-weight: bold;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  transition: 1s all;
  /*TRANSITION -> Tempo para transformação do HOVER e em qual propriedade se aplicara a transformação*/
  cursor: pointer;
}

.enviar:hover {
  background: darkorange;
  transform: scale(1.2);
  /*SCALE -> Aumenta em uma porcentagem o elemento ou diminui */
  transform: rotate(360deg);
  /*ROTATE ->Utilizado para girar o componente em uma quantidade de graus */
}

table {
  margin: 20px 0 40px;
}

thead {
  background: #555555;
  color: white;
  font-weight: bold;
}

td,
th {
  border: 1px solid #000000;
  padding: 15px 8px;
}


footer {
  text-align: center;
  background: url("../../imagens/bg.jpg");
  padding: 40px 0;
}

.copyright {
  color: #FFF;
  font-size: 13px;
  margin: 20px 0;
}