header {
	background: #BBB;
}

.caixa {
	position: relative;
	width: 940px;
	margin: 0 auto;
}

nav {
	position: absolute;
	/*Vc conesegue posicionar onde vc quiser */
	top: 110px;
	right: 0;
}

nav li {
	display: inline;
	/*Deixa alinha na vertical os items do menu*/
	margin: 0 0 0 15px;
}

nav a {
	text-transform: uppercase;
	/*Transforma texto em UPPERCASE*/
	color: #000;
	font-weight: bold;
	font-size: 22px;
	text-decoration: none;
}

nav a:hover {
	color: #C78C19;
	text-decoration: underline;
}

main {
	position: relative;
	width: 940px;
	margin: 0 auto;
}

.banner {
	width: 100%;
}

.titulo-principal {
	text-align: center;
	font-size: 2em;
	/*EM siginifica o dobro do tamanho padrão*/
	margin: 0 0 1em;
	clear: left;
}

.principal p {
	margin: 0 0 1em;
}

.principal strong {
	font-weight: bold;
}

.principal em {
	font-style: italic;
}

.utensilios {
	width: 120px;
	float: left;
	margin: 0 20px 20px 0;
}

.imagembeneficios {
	width: 60%;
}

footer {
	text-align: center;
	background: url("../../imagens/bg.jpg");
	padding: 40px 0;
}

.copyright {
	color: #FFF;
	font-size: 13px;
	margin: 20px 0;
}